@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans/static/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans/static/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat Black';
    src: url('../../fonts/Montserrat/static/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('../../fonts/Montserrat/static/Montserrat-Black.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-SemiBold.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-Regular.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-Bold.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-Medium.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-Italic.woff2') format('woff2'),
        url('../../fonts/Montserrat/static/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
